.col-sm-6
  Left Column
  - Thing.all.each do |thing|
    = thing.first_attr
    = thing.second_attr

.col-sm-6
  Right Column
  - Thing.all.each do |thing|
    = thing.first_attr
    = thing.second_attr
