nav.navbar-inverse { 
  font-family: 'Lato', sans-serif;
  a.navbar-brand {
    font-family: 'Grand Hotel', cursive;
    font-size: 2em;
  }
  .navbar-text {
    color: white;
    font-size: 1.25em;
    margin-left: 20vw;
  }
}

.app-body { 
  margin-top: 100px;
  font-family: 'Merriweather', serif;
}

.button-color-1, .button-color-2, .button-color-3, .button-color-4, .button-color-5 { color: white; }
.button-color-1  {background-color: #C22326 }
.button-color-2  {background-color: #F37228 }
.button-color-3  {background-color: #FDB632 }
.button-color-4  {background-color: #027878 }
.button-color-5  {background-color: #801638 }
